body {
  background-color: #3d3d3d;
  font-family: 'Yu Gothic UI Light', sans-serif;
}
.block {
  position: absolute;
  background-color: white;
  transform: translateX(-50%);
  left: 50%;
  width: 480px;
  height: 480px;
  top: 20%;
  box-shadow: 0px 0px 20px 20px rgba(10,10,10,0.9);
}
.pixelDIV {
  position: absolute;
  width: 23px;
  height: 23px;
}
.GameOver {
  position: absolute;
  border-radius: 5px;
  transform: translateX(-50%);
  left: 50%;
  top: 40%;
  font-size: 250%;
  text-align: center;
  background-color: white;
  width: 200px;
  height: 100px;
}
.Restart {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 5px 20px 0px rgba(0,0,0,0.4);
  font-size: 80%;
  width: 150px;
  cursor: pointer;
}
.Restart:hover {
  background-color: #e8e8e8;
  box-shadow: 2px 5px 20px 0px rgba(0,0,0,0.6);
}
.Score {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  font-size: 60%;
  top: -40px;
}
