@font-face {
	font-family: roboto-thin;
	src: url('roboto-thin.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0px;
  background-color: rgb(20, 20, 20);
}

#typeBar {
  position: absolute;
  height: 100px;
  width: 90%;
  border-radius: 20px;
  left: 50%;
  background-color: rgba(200, 200, 200, 1);
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;

  #text {
    position: absolute;
    width: 50%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
  }

  #input {
    position: absolute;
    top: 50%;
    right: 50%;
    height: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    transform: translateY(-50%);
    white-space: nowrap;
    border: none;
    font-size: 40px;
    text-align: right;
    color: rgb(50, 155, 50);
  }
}

#stats {
  position: absolute;
  width: 1000px;
  height: 250px;
  color: white;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  font-family: "roboto-thin";
  text-shadow: 0px 0px 3px white;
  font-weight: 100;
  text-align: center;

  .stat {
    text-align: center;
    margin: 25px;
    width: 200px;
    display: inline-block;

    .num {
      font-size: 50px;
      font-weight: 100;
    }
    .txt {
    }
  }
}