body {
  background-color: #232323;
  color: white;
  font-size: 50;
}
.checkbox {
  width: 100;
  height: 80;
  cursor: pointer;
}
.Submit {
  width: 300;
  height: 80;
  cursor: pointer;
  background-color: blue;
}
