body {
  font-family: 'Lato', sans-serif;
  background-image: url('Pictures/soft-background.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
  font-weight: 300;
}

img {
  margin: auto;
  display: block;
}
/* ============= Navigator ============= */

#nav {
  top: 0;
  background-color: #fff;
  height: 35px;
  text-align: center;
  position: sticky;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#nav a {
  position: relative;
  position: inline;
  padding: 10px 10px;
  color: #204156;
  text-decoration: none;
  font-size: 20px;
}

#nav a:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}


/* =============Containers============= */

.containerBlock-gray1 {
  background-color: #212121;
  height: 800px;
}
.containerBlock-gray2 {
  background-color: #313131;
  height: 500px;
}
.containerBlock-gray3 {
  background-color: #333333;
  height: 800px;
}
.containerBlock-background {
  height: 500px;
}
.block-title {
  color: #2895D4;
  text-align: center;
  font-size: 250%;
  margin-top: 50px;
}
/* ===========Abaut blocks========== */
.AbautBlock {
  position: inline;
  text-align: center;
  margin: 20px 20px 20px 20px;
  width: 300px;
  height: 500px;
}

/* ===========Buttons========== */

.button1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin-top: 100px;
  margin: auto;
}
.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}
/* ===========News========= */

.newsblock {
  padding: 20px 20px;
  background-color: #fff;
  text-allign: left;
  display: block;
  color: #000;
  margin: 100px 200px 200px 200px;
  height: 500px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.newsheading {
  text-allign: left;

}
/* ===========ADMINlogin========= */

.popup1 {
  padding: 20px;
  background-color: #fff;
  text-allign: center;
  color: #000;
  font-size: 30px;
  margin: auto;
  margin-top: 100px;
  display: inline-block;
  top: 200px;
  height: 60px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.LoginButton {
  background-color: #fff;
  border: none;
  color: #000000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: auto;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.LoginButton:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}
.LoginINCORRECT {
  text-allign: center;
  padding-left: 160px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin: auto;
  margin-top: 50px;
  background-color: #fff;
}
/* ========== WhiteBOX ====== */
.WhiteBOX {
  vertical-align: top;
  display: inline-block;
  width: 300;
  height: 350;
  margin: 50;
  background-color: #fff;
  color: #000;
  font-size: 10px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}
.WhiteBOX img {
  position: relative;
  display: inline-block;
  width: 85%;
  height: 250;
  margin: 20px;
  border: 4px solid black;
  border-radius: 5px;;
}
.boxWrapper {
  margin: auto;
  width: 100%;
  text-align: center;
  height: 1000;
  padding-bottom:20px;
}
