body {
  background-color: #232323;
}
#cube {
  top: 20%;
  width: 0px;
  height: 0px;
  transform-style: preserve-3d;
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  margin: auto;
}
#cube div {
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  position: absolute;
  opacity: 0.9;
  user-select: none;
}
#cube img {
  width: 200px;
  height: 200px;
}
#right {
  background-color: blue;
  transform: rotateY(90deg) translateZ(100px);
}
#front {
  background-color: green;
  transform: rotateY(0deg) translateZ(100px);
}
#left {
  background-color: blue;
  transform: rotateY(-90deg) translateZ(100px);
}
#back {
  background-color: green;
  transform: rotateY(180deg) translateZ(100px);
}
#top {
  background-color: gray;
  transform: rotateX(90deg) translateZ(100px);
}
#bottom {
  background-color: grey;
  transform: rotateX(-90deg) translateZ(100px);
}
