@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  background-color: rgb(34, 38, 41);
  font-family: 'Roboto', sans-serif;
  color: white;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

a.link {
  text-decoration: underline;
}

nav {
  padding: 10px;
  padding-left: 250px;
  height: 50px;
  padding-right: 250px;
}
nav .logo {
  cursor: pointer;
}
nav .logo img {
  float: left;
  width: 50px;
  height: 50px;
}
nav .logo span {
  font-size: 30px;
  float: left;
  margin: 7.5px;
  color: white;
  text-decoration: none;
}
nav .link {
  float: right;
  padding-left: 5%;
  color: white;
  margin: 17px;
  font-size: 16px;
  text-decoration: none;
}
#download {
  background-color: rgb(34, 38, 41);
  text-align: center;
  height: calc(100% - 170px);
  padding-top: 100px;
}
#download .title {
  font-size: 45px;
}
#download .desc {
  color: rgb(200, 200, 200);
  font-size: 25px;
  width: 800px;
  margin: auto;
  margin-top: 40px;
}
#download .download-button {
  width: 300px;
  height: 80px;
  margin: auto;
  margin-top: 50px;
  cursor: pointer;
}
#download .download-button a {
  text-decoration: none;
}
#download .download-button div {
  padding: 25px;
  width: 250px;
  border-radius: 5px;
  font-size: 25px;
  background-color: rgb(200, 60, 70);
  color: white;
  transition-duration: 0.4s;
}
#download .download-button:hover div {
  background-color: rgb(255, 0, 0);
}
#features {
  background-color: rgb(38, 42, 45);
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
#features .feature {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  height: 600px;
}
#features .feature .text {
  width: 500px;
  float: right;
  padding-top: 200px;
  height: 200px;
}
#features .feature .title {
  font-size: 45px;
}
#features .feature .desc {
  color: rgb(150, 150, 150);
  font-size: 23px;
  width: 800px;
  margin: auto;
  margin-top: 40px;
}
#features .feature img {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
  max-width: 300px;
  width: 90%;
}

#features .contR img {
  float: right;
}
#features .contR .text {
  float: left;
}
#FAQ {
  padding-left: 250px;
  padding-right: 250px;
}
#FAQ .title {
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
}
#FAQ .faq {
  padding-top: 50px;
  padding-bottom: 50px;
}
#FAQ .faq .q {
  font-size: 30px;
}
#FAQ .faq .a {
  font-size: 20px;
  color: rgb(200, 200, 200);
}
#footer {
  height: 100px;
  background-color: rgb(20, 20, 20);
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#footer .logo {
  width: 175px;
  height: 50px;
}
#footer .logo img {
  width: 50px;
  height: 50px;
  float: left;
}
#footer .logo span {
  font-size: 30px;
  margin: 10px;
  float: right;
}
#footer #contact {
  float: right;
  width: 50px;
  position: relative;
  transform: translateY(-100%);

}
#footer #contact a {
  color: rgb(200, 200, 200);
}
#footer #contact a:hover {
  color: rgb(255, 255, 255);
}
#footer .copyright {
  width: 300px;
}
#footer #contact .title {
  font-size: 25px;
}
