body {
  background-color: #80b7be;
  margin: 0;
}

#canvas {
}
#settings {
  position: absolute;
  width: 250px;
  padding: 0 20px;
  right: 0px;
  top: 0px;
  height: 100%;
  background-color: rgb(200, 200, 200);
  font-size: 25px;
}

input {
  width: 100px;
  font-size: 30px;
}
#pause {
  font-size: 50px;
  padding: 10px;
  margin-top: 20px;
}