body {
  background-color: #232323;
}
#cube {
  top: 400px;
  left: 500px;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  position: absolute;
  cursor: pointer;
  text-align: center;
}
#cube div {
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  position: absolute;
  opacity: 0.9;
  color: white;
  font-size: 400%;
  user-select: none;
}
#right {
  background-color: blue;
  transform: rotateY(90deg) translateZ(100px);
}
#front {
  background-color: green;
  transform: rotateY(0deg) translateZ(100px);
}
#left {
  background-color: blue;
  transform: rotateY(-90deg) translateZ(100px);
}
#back {
  background-color: green;
  transform: rotateY(180deg) translateZ(100px);
}
#top {
  background-color: gray;
  transform: rotateX(90deg) translateZ(100px);
}
#bottom {
  background-color: grey;
  transform: rotateX(-90deg) translateZ(100px);
}
