#muffin {
  width: 500px;
  height: 500px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition-duration: .2s;
}

#muffin:hover {
  width: 510px;
  height: 510px;
}

#muffinCount {
  position: absolute;
  text-align: center;
  top: calc(50% + 250px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}