body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(30, 30, 30);
}

#skins {
  padding: 100px 260px;
}
.skin {
  display: inline-block;
  margin: 20px;
}
.skin img {
  width: 200px;
  height: 250px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  background-color: rgb(0,0,0,0)
}
.skin .bar {
  position: absolute;
  color: white;
  transform: translateY(-30px);
  width: 200px;
  height: 30px;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.skin .bar .name {
  font-size: 20px;
  margin: 5px;
}