body {
  background-color: #232323;
  margin: 0;
  overflow: hidden;
}

#console {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  color: #00ff00;
  border-radius: 0px 0px 0px 5px;
  transition-duration: .2s;
  width: 100px;
  height: 20px;
  cursor: pointer;
  font-family: monospace;
  padding: 10;
}

#console #output {
  display: none;
}
#console.expanded {
  cursor: default;
  height: 924;
  width: 300px;
}
#console.expanded #output {
  height: 97%;
  overflow-x: hidden;
  overflow-y: auto;
}
#console-input {
  position: absolute;
  display: none;
  box-sizing: border-box;
  bottom: 5px;
  width: 300px;
  right: 5px;
  line-height: 18px;
  padding: 1px;
  height: 20px;
  font-size: 15px;
  color: #00af00;
  background-color: transparent;
  border: none;
  font-family: monospace;

}
#console-autosuggest {
  position: absolute;
  box-sizing: border-box;
  bottom: 5px;
  width: 300px;
  height: 20px;
  line-height: 18px;
  padding: 1px;
  right: 5px;
  font-size: 15px;
  color: #005300;
  border: none;
  font-family: monospace;

}
#console:hover:not(.expanded) {
  width: 110px;
  height: 30px;
}
#console .markdown {
  color: #029102;
}