body {
  background-color: rgb(214, 214, 214);
  margin: 0;
}

#canvas {
  width: 100%;
  position: absolute;
  right: 0px;
}
#controlPanel {
  width: 300px;
  background-color: white;
  border-radius: 0px 2px 50px 0px;
  height: 100%;
  position: absolute;
}

#controlPanel div {
  width: 100%;
  text-align: center;
}

#controlPanel div .title {
  font-size: 25px;
  padding: 10px 0px;
  background-color: rgb(228, 228, 228);
  user-select: none;
}
#controlPanel div .title:hover {
  background-color: rgb(210, 210, 210);
}